.header{
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 100;
	padding: 57px 0;
	transition: all $t;

	.header-inner{
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: calc(100% + 30px);
		margin-left: -15px;
		margin-right: -15px;
		position: relative;
		z-index: 2;

		.header-block{
			padding: 0 15px;
		}
	}

	&.sticky:not(.menu-active){
		padding: 10px 0;
		background: #fff;
		box-shadow: 0 0 1px rgba(#333, .6);
	}

	&.menu-active{
		background: #fff;
	}
}

.logo-block{
	display: block;

	img{
		height: 93px;
		transition: height $t;
		display: block;
		width: auto;

		.sticky:not(.menu-active) &{
			height: 49px;
		}

		@media screen and (max-width: 991px){
			height: 73px;
		}
	}

	@include addFocusBorder();
}

.user-nav{
	display: flex;
	align-items: center;

	.item{
		margin-right: 35px;

		&:last-child{
			margin-right: 0;
		}
	}
}

.top-nav{
	ul{
		list-style: none;
		display: flex;

		li{
			margin-right: 35px;

			&:last-child{
				margin-right: 0;
			}

			a{
				color: $text-dark;
				font-size: 18px;
				line-height: 22px;

				&:hover{
					color: $primary;
				}

				@include addFocusBorder();
			}
		}
	}
}

.panel-nav{
	padding: 80px 85px 0;
	width: 100%;
	height: calc(100vh - 120px);
	background: #fff;
	position: absolute;
	left: 0;
	top: 120px;
	transition: all $t;
	transform: translateY(-100%);
	opacity: 0;
	visibility: hidden;

	ul{
		list-style: none;

		li{
			font-size: 24px;
			line-height: 1.222;
			border-bottom: 1px solid #dbdbdb;

			a{
				color: $text-color;
				text-decoration: none;
				display: block;
				padding: 32px 0;

				&:hover{
					color: $primary;
				}
			}

			&:last-child{
				border-bottom: 0;
			}
		}
	}

	@media screen and (max-width: 575px){
		padding: 60px 50px 0;

		ul li{
			font-size: 18px;

			a{
				padding: 20px 0;
			}
		}
	}

	.sticky &{
		// height: calc(100vh - 69px);
		// top: 69px;
	}

	&.visible{
		transform: translateY(0);
		opacity: 1;
		visibility: visible;
	}
}